<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>Vortex ACM 2.0 :: Gerenciador de Conteudo Avançado</title>
<meta name="language" content="pt-br" >
<meta name="googlebot" content="noindex, noarchive, nofollow" >
<meta name="robots" content="noindex, noarchive, nofollow" >
<base href="http://<!-- tag:siteBase /-->"  />

<script src="/corefix/plugin/core/jquery.min.js.gz"></script>
<script src="/corefix/plugin/jquery/ui/ui.min.js.gz"></script>
<script src="/corefix/plugin/jquery/jcropp/jcropp.js.gz"></script>
<script src="/corefix/plugin/jquery/maskedinput/maskedinput.js"></script>
<script src="/corefix/plugin/jquery/vforms/vforms.js"></script>
<script src="/corefix/plugin/jquery/vplus/vplus.wins.js"></script>
<script src="/corefix/vortex/js/vtxacm/vtx_plugins.js?vtx=2.2.8"></script>

<script type="text/javascript">
defDirs  = "<!-- tag:userDir /-->"
defCDir  = "<!-- tag:userDir /-->"
defFiles = "<!-- tag:userFile /-->"
defTGT 	 = "<!-- tag:vtxBtn /-->"
defTYP 	 = "<!-- tag:vtxType /-->"
</script>
<script type="text/javascript" src="/corefix/vortex/js/vtxacm/vtx_mngfile.js"></script>
<link rel="stylesheet" type="text/css" href="/corefix/vortex/css/plugin.css"/>
<link rel="stylesheet" type="text/css" href="/corefix/vortex/css/fman.css"/>
<link rel="shortcut icon" href="/corefix/vortex/favicon.png" type="image/ico" />

</head>
<body>


	<div id="topUpp">
         
        <form action="" method="post" enctype="application/x-www-form-urlencoded" class="toRight">
         
             <input type="button" id="vfRldr" class="toRound btns refresh" value="Atualizar" /> 
             <input type="button" id="vfNdir" class="toRound btns folder" value="Nova Pasta" />
             <input type="button" id="vfUpld" class="toRound btns upload" value="Carregar" />
            
        </form>
   
    </div>
    
    
    <div id="fileDirs" class="toLeft">
	</div>

    <div id="fileList" class="toRight">
    </div>

</body>
</html>